/**{
border:1px solid red;
}*/

body{
padding: 10% 20% 10% 40%; 
}

.row{
width:100%;
background-color:white;
}

.row-1{
width:100%;
padding-bottom:2%; 
padding-left:40%; 
}


	 
}
.row-2{
display: flex;
width:100%;

}

.row-3{
width: 100%;
}

.row-4{
width: 100%;
display: flex;
}

.row-5{
width: 100%;
color: grey;
font-family:cursive; 
}

.row-6{
width: 100%; 
padding-left: 40%;
padding-right: 40%;
}

.Part1{
padding-right: 30%;
border-color:1px red;
}

.Part2{

}

.jam1{

}

.jam2{

}
/**{
border:1px solid red;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}*/





.col-1{
width:8.33%;
 
         /* providing size values in % makes it resizabale*/
         }

.col-2{
width:16.66%;

}

.col-3{
width:25%; 

}

.col-4{
width:33.33%; 
background-color:red;
color: white;
text-align: center;
font-family:cursive;
}

.col-4.1{
color: gray;
border-color:1px brown;
bo 
}
.col-5{
width:41.66%; 

}

.col-6{
width:49.98%; 

}

.col-7{
width:58.31%; 

}

.col-8{
width:66.64%; 

}

.col-9{
width:74.97%; 
}*/

.col-10{
padding-left:10%;
margin-top:50%;
margin-bottom:50%;
border: #46CFE0;
background-color: #46CFE0; 
width:83.3%;
font-size:200%; 
}

.col-11{
width:91.63%;
}
.col-12{
width:100%;
padding-left:20%;
padding-right:2%;
}
/*@media only screen and (max-width:300px){
p{
    background-color:blue;

}
}*/

img{
width:20%; 
}